.link {
    color: brown;
    display: table;
    transform: scale(  0.5);
} 

img {
    width:  150px;
    height: 150px;
}

div {
    width: 10%;
    float: left;
}

.link:hover{
    transform: scale(  0.7);
    animation: havalanma;
    animation-duration: 1s;
}

@keyframes alcalma {
    from {transform: scale(0.7);}
    to   {transform: scale(0.5);}
    
}@keyframes havalanma {
    from {transform: scale( 0.5);}
    to   {transform: scale( 0.7);}  
      
}